In [32]:
import numpy as np
import pandas as pd

In [33]:
file = pd.read_csv('/Users/ramji/Deep_learning/dataset/Invistico_Airline.csv')
file['Arrival Delay in Minutes'].fillna(0,inplace=True)
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   satisfaction                       129880 non-null  object
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Seat comfort                       129880 non-null  int64
 7   Departure/Arrival time convenient  129880 non-null  int64
 8   Food and drink                     129880 non-null  int64
 9   Gate location                      129880 non-null  int64
 10  Inflight wifi service              129880 non-null  int64
 11  Inflight entertainment             129880 non-null  int64
 12  Online support                     129880 non-null  int64
 13  Ease of Online booking             129880 non-null  int64
 14  On-board service                   129880 non-null  int64
 15  Leg room service                   129880 non-null  int64
 16  Baggage handling                   129880 non-null  int64
 17  Checkin service                    129880 non-null  int64
 18  Cleanliness                        129880 non-null  int64
 19  Online boarding                    129880 non-null  int64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129880 non-null  float64
dtypes: float64(1), int64(17), object(4)
memory usage: 21.8+ MB

In [34]:
file

,satisfaction,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,...,3,4,5,5,5,3,3,3,185,186.0

In [36]:
file = pd.get_dummies(file)
file.drop('satisfaction_dissatisfied', axis = 'columns', inplace = True)
file

#file = file.to_numpy()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,...,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction_satisfied,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,65,265,0,0,0,2,2,4,2,3,...,0,0.0,1,1,0,0,1,0,1,0
1,47,2464,0,0,0,3,0,2,2,3,...,310,305.0,1,1,0,0,1,1,0,0
2,15,2138,0,0,0,3,2,0,2,2,...,0,0.0,1,1,0,0,1,0,1,0
3,60,623,0,0,0,3,3,4,3,1,...,0,0.0,1,1,0,0,1,0,1,0
4,70,354,0,0,0,3,4,3,4,2,...,0,0.0,1,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,29,1731,5,5,5,3,2,5,2,2,...,0,0.0,1,0,1,0,1,0,1,0
129876,63,2087,2,3,2,4,2,1,1,3,...,174,172.0,0,0,1,0,1,1,0,0
129877,69,2320,3,0,3,3,3,2,2,4,...,155,163.0,0,0,1,0,1,0,1,0
129878,66,2450,3,2,3,2,3,2,2,3,...,193,205.0,0,0,1,0,1,0,1,0
129879,38,4307,3,4,3,3,3,3,3,4,...,185,186.0,0,0,1,0,1,0,1,0

In [46]:
y = file['satisfaction_satisfied'].to_numpy().reshape((1,129880))
X = file.drop('satisfaction_satisfied',axis='columns').to_numpy().T
X.shape, y.shape

((25, 129880), (1, 129880))

In [17]:
iteration = 50
j=0
dw = np.zeros((len(file[0]),1))
db = 0
alpha = 0.005
m , nx = len(file), len(file[0])

In [19]:
# train test split

(50,
 array([[0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.]]),
 129880,
 27)